/* Your code here */

.interests {
    display: grid;
    margin: 0 40px;
    padding: 15px 0;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 2fr 1fr .75fr;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    justify-content: center;
    align-items: center;
}

.interests-bar__image {
    width: 60%;
}

.interests-bar__card {
    display: flex;
    flex-direction: column;
    height: 100px;
}
.interests-bar__headline > h4 {
    margin: 0 0 5px 0;
    padding: 0;
}

.interests-bar__story {
    max-width: 80%;
}