/* Your code here */

.masthead {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* grid-template-areas: 
    "menu empty search"
    "empty tech empty"
    "date logo paper" */
}

.masthead__menu-and-search {
    grid-area: 1;
    padding-left: 20px;
}

.masthead__actions {
    grid-area: 1/3;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.masthead__technologies {
    grid-area: 2/2;
}

.masthead__date {
    grid-area: 3/1;
}

.masthead__logo {
    grid-area: 3/2;
}

.masthead__paper {
    grid-area: 3/3;
}

.masthead__buttons {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    /* font-size: 11px; */
    padding: 7px 9px;
    width: 40px;
    height: 36px;
}
.masthead__buttons:hover {
    background-color:  #f7f7f5;
}
